*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header{
    display: flex;
}

/* intro */

.intro{
    background-color: #e1e1e1;
}

/* footer */
.footer{
    width: 100%;
    height: 300px;
}